openapi: 3.1.0
info:
  title: ElevenID API
  version: 1.0.0
  description: |
    ElevenID provides verifiable identity infrastructure for issuing and verifying
    credentials, Open Badges, and identity documents using industry standards
    including W3C Verifiable Credentials, OID4VCI, OID4VP, ISO 18013-5 mDoc, and SD-JWT.
  contact:
    name: ElevenID
    email: sales@elevenidllc.com
    url: https://elevenidllc.com
  license:
    name: Proprietary

servers:
  - url: https://elevenidllc.com/api/v1
    description: Production API

paths:
  /verify:
    post:
      operationId: verifyCredential
      summary: Verify a verifiable credential
      description: |
        Verify the authenticity and validity of a verifiable credential using
        ElevenID trust policies. Supports W3C VC, SD-JWT, and mDoc formats.
      tags:
        - Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - credential
              properties:
                credential:
                  type: object
                  description: The verifiable credential to verify (W3C VC JSON format)
                format:
                  type: string
                  enum: [vc, sd-jwt, mdoc]
                  default: vc
                  description: The credential format
                policies:
                  type: array
                  items:
                    type: string
                  description: Optional trust policies to apply during verification
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                    description: Whether the credential is valid
                  checks:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        passed:
                          type: boolean
                        message:
                          type: string
        '400':
          description: Invalid credential format
        '401':
          description: Authentication required

  /issue:
    post:
      operationId: issueCredential
      summary: Issue a verifiable credential or Open Badge
      description: |
        Issue a new verifiable credential or Open Badge using a configured
        credential template and trust profile.
      tags:
        - Issuance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - templateId
                - subject
              properties:
                templateId:
                  type: string
                  description: The credential template identifier
                subject:
                  type: object
                  description: The credential subject claims
                format:
                  type: string
                  enum: [vc, sd-jwt, mdoc, open-badge]
                  default: vc
                  description: The output credential format
      responses:
        '201':
          description: Credential issued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  credential:
                    type: object
                    description: The issued verifiable credential
                  credentialId:
                    type: string
                    description: Unique identifier for the issued credential
        '400':
          description: Invalid request
        '401':
          description: Authentication required

  /trust-registry:
    get:
      operationId: getTrustRegistry
      summary: Query the trust registry
      description: |
        Query the ElevenID trust registry for trusted issuers, verifiers,
        and trust frameworks.
      tags:
        - Trust Registry
      parameters:
        - name: issuerDid
          in: query
          schema:
            type: string
          description: Filter by issuer DID
        - name: credentialType
          in: query
          schema:
            type: string
          description: Filter by credential type
        - name: trustFramework
          in: query
          schema:
            type: string
          description: Filter by trust framework
      responses:
        '200':
          description: Trust registry entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  entries:
                    type: array
                    items:
                      type: object
                      properties:
                        entityId:
                          type: string
                        entityType:
                          type: string
                          enum: [issuer, verifier]
                        trustFramework:
                          type: string
                        credentialTypes:
                          type: array
                          items:
                            type: string
                        status:
                          type: string
                          enum: [active, suspended, revoked]

  /presentations/request:
    post:
      operationId: createPresentationRequest
      summary: Create an OID4VP presentation request
      description: |
        Create a new OpenID for Verifiable Presentations (OID4VP) request
        to verify credentials held in a wallet.
      tags:
        - Verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - presentationDefinition
              properties:
                presentationDefinition:
                  type: object
                  description: The presentation definition specifying required credentials
                redirectUri:
                  type: string
                  format: uri
                  description: URI to redirect after presentation
      responses:
        '201':
          description: Presentation request created
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestUri:
                    type: string
                    format: uri
                    description: The OID4VP request URI
                  sessionId:
                    type: string
                    description: Session identifier for polling status

tags:
  - name: Verification
    description: Credential and presentation verification endpoints
  - name: Issuance
    description: Credential and badge issuance endpoints
  - name: Trust Registry
    description: Trust registry query endpoints
